Power Platform Files/pkgs/Wadl/PickandShip-OnefloAPI-v3-3.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://australia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="PickandShip-OnefloAPI-v3-3" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="PickandShip-OnefloAPI-v3-3" />
  <grammars>
    <jsonTypes targetNamespace="https://australia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_StoreAccount_Value_def" />
      <string name="ManualTriggerInput_StoreName_Value_def" />
      <string name="ManualTriggerInput_UserAccount_Value_def" />
      <string name="ManualTriggerInput_WebOrderID_Value_def" />
      <string name="ManualTriggerInput_QuantityOrdered_Value_def" />
      <string name="ManualTriggerInput_ItemCode_Value_def" />
      <string name="ManualTriggerInput_CustomerFullName_Value_def" />
      <string name="ManualTriggerInput_DeliveryAddress1_Value_def" />
      <string name="ManualTriggerInput_DeliveryAddress2_Value_def" />
      <string name="ManualTriggerInput_DeliveryAddresCountryCode_Value_def" />
      <string name="ManualTriggerInput_DeliveryAddressPostCode_Value_def" />
      <string name="ManualTriggerInput_DeliveryAddressSuburb_Value_def" />
      <string name="ManualTriggerInput_MobileNumber_Value_def" />
      <string name="ManualTriggerInput_Email_Value_def" />
      <string name="ManualTriggerInput_ATL_Value_def" />
      <string name="ManualTriggerInput_ATL-Instructions_Value_def" />
      <string name="ManualTriggerInput_SenderName_Value_def" />
      <string name="ManualTriggerInput_Flow-Mode_Value_def" />
      <string name="ManualTriggerInput_DeliveryAddressState_Value_def" />
      <object name="ManualTriggerInput">
        <property name="StoreAccount_Value" type="string" />
        <property name="StoreName_Value" type="string" />
        <property name="UserAccount_Value" type="string" />
        <property name="WebOrderID_Value" type="string" />
        <property name="QuantityOrdered_Value" type="string" />
        <property name="ItemCode_Value" type="string" />
        <property name="CustomerFullName_Value" type="string" />
        <property name="DeliveryAddress1_Value" type="string" />
        <property name="DeliveryAddress2_Value" type="string" />
        <property name="DeliveryAddresCountryCode_Value" type="string" />
        <property name="DeliveryAddressPostCode_Value" type="string" />
        <property name="DeliveryAddressSuburb_Value" type="string" />
        <property name="MobileNumber_Value" type="string" />
        <property name="Email_Value" type="string" />
        <property name="ATL_Value" type="string" />
        <property name="ATL-Instructions_Value" type="string" />
        <property name="SenderName_Value" type="string" />
        <property name="Flow-Mode_Value" type="string" />
        <property name="DeliveryAddressState_Value" type="string" />
      </object>
      <string name="ResponseActionOutput_userid_def" />
      <string name="ResponseActionOutput_key_def" />
      <string name="ResponseActionOutput_expires_def" />
      <string name="ResponseActionOutput_distributionid_def" />
      <string name="ResponseActionOutput_accountid_def" />
      <string name="ResponseActionOutput_label_def" />
      <string name="ResponseActionOutput_consignmentid_def" />
      <string name="ResponseActionOutput_consigmentnote_def" />
      <string name="ResponseActionOutput_errormessage_def" />
      <object name="ResponseActionOutput">
        <property name="userid" type="string" />
        <property name="key" type="string" />
        <property name="expires" type="string" />
        <property name="distributionid" type="string" />
        <property name="accountid" type="string" />
        <property name="label" type="string" />
        <property name="consignmentid" type="string" />
        <property name="consigmentnote" type="string" />
        <property name="errormessage" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://australia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="StoreAccount_Value" path="/StoreAccount_Value" type="xs:string" required="true" />
            <param style="plain" name="StoreName_Value" path="/StoreName_Value" type="xs:string" required="true" />
            <param style="plain" name="UserAccount_Value" path="/UserAccount_Value" type="xs:string" required="true" />
            <param style="plain" name="WebOrderID_Value" path="/WebOrderID_Value" type="xs:string" required="true" />
            <param style="plain" name="QuantityOrdered_Value" path="/QuantityOrdered_Value" type="xs:string" required="true" />
            <param style="plain" name="ItemCode_Value" path="/ItemCode_Value" type="xs:string" required="true" />
            <param style="plain" name="CustomerFullName_Value" path="/CustomerFullName_Value" type="xs:string" required="true" />
            <param style="plain" name="DeliveryAddress1_Value" path="/DeliveryAddress1_Value" type="xs:string" required="true" />
            <param style="plain" name="DeliveryAddress2_Value" path="/DeliveryAddress2_Value" type="xs:string" required="true" />
            <param style="plain" name="DeliveryAddresCountryCode_Value" path="/DeliveryAddresCountryCode_Value" type="xs:string" required="true" />
            <param style="plain" name="DeliveryAddressPostCode_Value" path="/DeliveryAddressPostCode_Value" type="xs:string" required="true" />
            <param style="plain" name="DeliveryAddressSuburb_Value" path="/DeliveryAddressSuburb_Value" type="xs:string" required="true" />
            <param style="plain" name="MobileNumber_Value" path="/MobileNumber_Value" type="xs:string" required="true" />
            <param style="plain" name="Email_Value" path="/Email_Value" type="xs:string" required="true" />
            <param style="plain" name="ATL_Value" path="/ATL_Value" type="xs:string" required="true" />
            <param style="plain" name="ATL-Instructions_Value" path="/ATL-Instructions_Value" type="xs:string" required="true" />
            <param style="plain" name="SenderName_Value" path="/SenderName_Value" type="xs:string" required="true" />
            <param style="plain" name="Flow-Mode_Value" path="/Flow-Mode_Value" type="xs:string" required="true" />
            <param style="plain" name="DeliveryAddressState_Value" path="/DeliveryAddressState_Value" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>