Power Platform Files/pkgs/Wadl/PickandShip-PrintLabel-v3-3.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://australia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="PickandShip-PrintLabel-v3-3" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="PickandShip-PrintLabel-v3-3" />
  <grammars>
    <jsonTypes targetNamespace="https://australia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Initializevariable-CustomerName_Value_def" />
      <string name="ManualTriggerInput_Initializevariable-StoreID_Value_def" />
      <string name="ManualTriggerInput_Initializevariable-StaffID_Value_def" />
      <string name="ManualTriggerInput_Initializevariable-FileIdenifier_Value_def" />
      <string name="ManualTriggerInput_Initializevariable-FileIdenifier_Value_1_def" />
      <object name="ManualTriggerInput">
        <property name="Initializevariable-CustomerName_Value" type="string" />
        <property name="Initializevariable-StoreID_Value" type="string" />
        <property name="Initializevariable-StaffID_Value" type="string" />
        <property name="Initializevariable-FileIdenifier_Value" type="string" />
        <property name="Initializevariable-FileIdenifier_Value_1" type="string" />
      </object>
      <string name="ResponseActionOutput_result_def" />
      <object name="ResponseActionOutput">
        <property name="result" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://australia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Initializevariable-CustomerName_Value" path="/Initializevariable-CustomerName_Value" type="xs:string" required="true" />
            <param style="plain" name="Initializevariable-StoreID_Value" path="/Initializevariable-StoreID_Value" type="xs:string" required="true" />
            <param style="plain" name="Initializevariable-StaffID_Value" path="/Initializevariable-StaffID_Value" type="xs:string" required="true" />
            <param style="plain" name="Initializevariable-FileIdenifier_Value" path="/Initializevariable-FileIdenifier_Value" type="xs:string" required="true" />
            <param style="plain" name="Initializevariable-FileIdenifier_Value_1" path="/Initializevariable-FileIdenifier_Value_1" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>